[submodule "extern/benchmark"]
	path = extern/benchmark
	url = https://github.com/google/benchmark
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com.cnpmjs.org/google/googletest
